<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<lofmautic>
			<general>
				<enabled>1</enabled>
                <webhook_secret>LandofcoderTeam</webhook_secret>
                <webhook_mautic_secret></webhook_mautic_secret>
			</general>
            <contact>
                <enabled>0</enabled>
            </contact>
            <company>
                <enabled>1</enabled>
            </company>
            <tracking>
                <enabled>1</enabled>
            </tracking>
            <fields_mapping>
                <fields><![CDATA[{"_1637485408750_750":{"mautic_field_id":"firstname","magento_customer_fields":"firstname"},"_1637485448630_630":{"mautic_field_id":"lastname","magento_customer_fields":"lastname"},"_1637485458510_510":{"mautic_field_id":"email","magento_customer_fields":"email"},"_1637485468430_430":{"mautic_field_id":"city","magento_customer_fields":"city"},"_1637485476462_462":{"mautic_field_id":"state","magento_customer_fields":"region"},"_1637485490700_700":{"mautic_field_id":"country","magento_customer_fields":"country_id"},"_1637485496716_716":{"mautic_field_id":"zipcode","magento_customer_fields":"postcode"},"_1637485502828_828":{"mautic_field_id":"phone","magento_customer_fields":"telephone"},"_1637485542762_762":{"mautic_field_id":"website","magento_customer_fields":"website_id"},"_1637485597196_196":{"mautic_field_id":"address1","magento_customer_fields":"street"}}]]></fields>
            </fields_mapping>
            <newsletter>
                <disable_magento_subscription>1</disable_magento_subscription>
            </newsletter>
            <sync_mautic>
                <async_api>1</async_api>
                <contact_filter>*</contact_filter>
                <contact_limit>20</contact_limit>
                <contact_sorting>id:DESC</contact_sorting>
                <company_filter>*</company_filter>
                <company_limit>20</company_limit>
                <company_sorting>id:DESC</company_sorting>
            </sync_mautic>
		</lofmautic>
        <csp>
            <policies>
                <storefront>
                    <frame-ancestors>
                        <inline>0</inline>
                    </frame-ancestors>
                </storefront>
            </policies>
        </csp>
	</default>
</config>
