<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<lofmautic>
			<general>
				<enabled>1</enabled>
                <webhook_secret>LandofcoderTeam</webhook_secret>
			</general>
            <contact>
                <enabled>0</enabled>
            </contact>
            <company>
                <enabled>1</enabled>
            </company>
            <tracking>
                <enabled>1</enabled>
            </tracking>
            <fields_mapping>
                <fields></fields>
            </fields_mapping>
            <newsletter>
                <disable_magento_subscription>1</disable_magento_subscription>
            </newsletter>
            <sync_mautic>
                <contact_filter>*</contact_filter>
                <contact_limit>20</contact_limit>
                <contact_sorting>id:DESC</contact_sorting>
                <company_filter>*</company_filter>
                <company_limit>20</company_limit>
                <company_sorting>id:DESC</company_sorting>
            </sync_mautic>
		</lofmautic>
        <csp>
            <policies>
                <storefront>
                    <frame-ancestors>
                        <inline>0</inline>
                    </frame-ancestors>
                </storefront>
            </policies>
        </csp>
	</default>
</config>
