<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Lof\Mautic\Api\ContactRepositoryInterface" type="Lof\Mautic\Model\ContactRepository"/>
	<preference for="Lof\Mautic\Api\Data\ContactInterface" type="Lof\Mautic\Model\Contact"/>
	<preference for="Lof\Mautic\Api\Data\ContactSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Lof\Mautic\Model\ResourceModel\Contact\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">lof_mautic_contact</argument>
			<argument name="resourceModel" xsi:type="string">Lof\Mautic\Model\ResourceModel\Contact\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="lof_mautic_contact_listing_data_source" xsi:type="string">Lof\Mautic\Model\ResourceModel\Contact\Grid\Collection</item>
				<item name="lof_mautic_company_listing_data_source" xsi:type="string">Lof\Mautic\Model\ResourceModel\Company\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<preference for="Lof\Mautic\Api\CompanyRepositoryInterface" type="Lof\Mautic\Model\CompanyRepository"/>
	<preference for="Lof\Mautic\Api\Data\CompanyInterface" type="Lof\Mautic\Model\Company"/>
	<preference for="Lof\Mautic\Api\Data\CompanySearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Lof\Mautic\Model\ResourceModel\Company\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">lof_mautic_company</argument>
			<argument name="resourceModel" xsi:type="string">Lof\Mautic\Model\ResourceModel\Company\Collection</argument>
		</arguments>
	</virtualType>

    <preference for="Lof\Mautic\Api\VisitorRepositoryInterface" type="Lof\Mautic\Model\VisitorRepository"/>
    <preference for="Lof\Mautic\Api\Data\VisitorInterface" type="Lof\Mautic\Model\Data\Visitor"/>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="mautic_bridge_contact_import" xsi:type="object">Lof\Mautic\Console\Command\ContactImportCommand</item>
                <item name="mautic_bridge_company_import" xsi:type="object">Lof\Mautic\Console\Command\CompanyImportCommand</item>
                <item name="mautic_export_contact_all" xsi:type="object">Lof\Mautic\Console\Command\ExportAllCommand</item>
                <item name="mautic_export_customer" xsi:type="object">Lof\Mautic\Console\Command\ExportAllCustomerCommand</item>
                <item name="mautic_export_order" xsi:type="object">Lof\Mautic\Console\Command\ExportAllOrderCommand</item>
                <item name="mautic_export_review" xsi:type="object">Lof\Mautic\Console\Command\ExportAllReviewCommand</item>
                <item name="mautic_export_subscriber" xsi:type="object">Lof\Mautic\Console\Command\ExportAllSubscriberCommand</item>
                <item name="mautic_export_abandoned" xsi:type="object">Lof\Mautic\Console\Command\AbandonedCartCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="lofmautic/general/client_secret" xsi:type="string">1</item>
                <item name="lofmautic/general/client_secret" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <!-- <preference for="Magento\Newsletter\Model\Subscriber" type="Lof\Mautic\Override\Model\Subscriber"/> -->

    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="mautic-abandoned-checkout-save-quote" type="Lof\Mautic\Model\Plugin\AccountManagement" sortOrder="10"/>
    </type>

    <type name="Magento\Newsletter\Model\Subscriber">
        <plugin name="mautic-subscriber" type="Lof\Mautic\Model\Plugin\Subscriber" sortOrder="10"/>
    </type>
</config>
