<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="customer_save_after">
        <observer name="lof_mautic_customer_save_after" instance="Lof\Mautic\Observer\CustomerSaveAfter" />
    </event>
    <event name="review_save_after">
        <observer name="lof_mautic_review_save_after" instance="Lof\Mautic\Observer\ReviewSaveAfter" />
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="lof_mautic_order_checkout_success" instance="Lof\Mautic\Observer\FrontendCheckoutSuccess"/>
    </event>

</config>
