<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="lofmautic" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Mautic Integration Settings</label>
			<tab>landofcoder</tab>
			<resource>Lof_Mautic::config</resource>
			<group id="general" sortOrder="0" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>General</label>
				<field id="enabled" type="select" sortOrder="0" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enabled</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
                <field id="oauth_version" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label comment">
					<label>OAuth Version</label>
					<comment/>
					<source_model>Lof\Mautic\Model\Config\Source\OauthVersion</source_model>
				</field>
                <field id="client_id" type="text" sortOrder="15" showInWebsite="1" showInStore="1" showInDefault="1" translate="label comment">
					<label>Client ID</label>
					<comment/>
                    <depends>
                        <field id="oauth_version" separator=",">OAuth1a,OAuth2</field>
                    </depends>
				</field>
                <field id="client_secret" type="obscure" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label comment">
					<label>Client Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<comment/>
                    <depends>
                        <field id="oauth_version" separator=",">OAuth1a,OAuth2</field>
                    </depends>
				</field>
                <field id="mautic_login" type="text" sortOrder="25" showInWebsite="1" showInStore="1" showInDefault="1" translate="label comment">
					<label>Login</label>
					<comment/>
                    <depends>
                        <field id="oauth_version">BasicAuth</field>
                    </depends>
				</field>
                <field id="mautic_password" type="obscure" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label comment">
					<label>Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<comment/>
                    <depends>
                        <field id="oauth_version">BasicAuth</field>
                    </depends>
				</field>
                <field id="mautic_url" type="text" sortOrder="35" showInWebsite="1" showInStore="1" showInDefault="1" translate="label comment">
					<label>Mautic Url</label>
					<comment/>
				</field>
                <field id="authorize" type="button" sortOrder="40" showInWebsite="1" showInStore="1" showInDefault="1" translate="label comment">
					<label>Authorize</label>
                    <frontend_model>Lof\Mautic\Model\Adminhtml\Source\AuthorizeButton</frontend_model>
                    <comment>Authorize Mautic API. Please save config before click this button.</comment>
                    <depends>
                        <field id="oauth_version" separator=",">OAuth1a,OAuth2</field>
                    </depends>
				</field>

                <field id="webhook_secret" type="text" sortOrder="45" showInWebsite="1" showInStore="1" showInDefault="1" translate="label comment">
					<label>Webhook URL Secret Key</label>
					<comment><![CDATA[<span>Please enter some random characters in "Secret Key" field, save config, and use this URL in Mautic settings for Webhooks: <br><input name="webhook_url" class="webhook-link-input" style="width:100%" id="webhook_url"></span><br/>Webhook url: https://your_domain/mautic/webhook?secret=YOUR_KEY]]></comment>
				</field>

            </group>
            <group id="contact" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Contacts Integration</label>
				<field id="enabled" type="select" sortOrder="0" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enabled</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
                <field id="run" type="button" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label comment">
					<label>Export</label>
                    <frontend_model>Lof\Mautic\Model\Adminhtml\Source\Button</frontend_model>
					<comment><![CDATA[Export contacts from Magento to your Mautic. If the site have lot of contacts, the export process can take some tiem. In this better use console commands:<br/>
                        <strong>lofmautic:export:customers</strong> Export contacts data from Customers<br/>
                        <strong>lofmautic:export:orders</strong> Export contacts data from Orders<br/>
                        <strong>lofmautic:export:reviews</strong> Export contacts data from Reviews<br/>
                        <strong>lofmautic:export:subscribers</strong> Export contacts data from Subscribers<br/>
                        <strong>lofmautic:export:all</strong> Export contacts data from All: customers, reviews, orders, subscribers<br/>
                    ]]></comment>
				</field>
            </group>

            <group id="fields_mapping" sortOrder="15" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Fields Mapping</label>
				<field id="fields" type="select" sortOrder="0" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Fields Mapping</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
            </group>

            <group id="company" sortOrder="25" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Companies Integration</label>
				<field id="enabled" type="select" sortOrder="0" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enabled</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
            </group>

            <group id="tracking" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Mautic Tracking Settings</label>
				<field id="enabled" type="select" sortOrder="0" showInWebsite="1" showInStore="1" showInDefault="1" translate="label comment">
					<label>Enable JavaScript (JS) Tracking</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Please learn more about Mautic JS Tracking at here <a href="https://docs.mautic.org/en/contacts/manage-contacts/contact-monitoring" target="_BLANK" rel="nofollow">Contact Monitoring</a>]]></comment>
				</field>
            </group>

            <group id="newsletter" sortOrder="35" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Newsletter</label>
				<field id="disable_magento_subscription" type="select" sortOrder="0" showInWebsite="1" showInStore="1" showInDefault="1" translate="label comment">
					<label>Disable Magento Subscription Confirmation Email</label>
					<comment><![CDATA[Enable this option when you want to send email via Mautic campaign. You should create campaign send email on Mautic before.<a href="https://docs.mautic.org/en/campaigns/creating-campaigns" target="_BLANK" rel="nofollow">Create Campaign</a>]]></comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
            </group>
        </section>
    </system>
</config>
